<footer>
	<style-switcher>
		<div>
		
			<label for="mySSS_select">
				Theme:
			</label>
  		
  			<select id="mySSS_select">
  				<option value="Feds">
  					Federation
  				</option>
          <option value="Zeon">
            Zeon
          </option>
  			</select>
  		</div>
	</style-switcher>
</footer>