<head>
	<title><%= title %></title>

	<link rel='stylesheet' href='/stylesheets/normalize.css' />

	<link rel='stylesheet' href='/stylesheets/zeon.css' />

    <!-- <link rel='stylesheet' href='/stylesheets/fed.css' /> -->

    <link rel="icon" href="/favicon.ico?v=1.1"> 

	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
</head>