<!DOCTYPE html>
<html>

  <%- include ./partials/head %>

  <body>
	<header>
	<img src="./images/logo_transparent.png">
		<h1>Gundam API</h1>
	</header>
	
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

	<%- include ./partials/script %>
  </body>
</html>
