@font-face {
    font-family: 'amuroregular';
    src: url('../fonts/amuro-webfont.woff2') format('woff2'),
         url('../fonts/amuro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,body,div,span,a,li,td,th {
  font-family: 'amuroregular', Helvetica, Arial, sans-serif;
}

body {
	padding: 50px;
	background-image: url('../images/earthfederation.png');
	background-color: #0000ff;
	background-repeat: no-repeat;
	background-position: center top;
}

header {
	width 100%;
	background: rgba(0,0,0,0.5);
	color: white;
}

header img {
	display: inline-block;
	width: 100px;
}

header h1 {
	display: inline-block;
	margin: 0;
}

main {
	display: -webkit-flex;
	background: rgba(255,255,255,0.5);
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

a {
  color: #00B7FF;
}